/build/
vendor/
cli/bin
lcm/bin
restapi/bin
trainer/bin
jobmonitor/bin
jobmonitor/logfiles
metrics/bin
grpc-health-checker/bin
bin/copy.sh
*.bk
.vagrant/
.DS_Store
*.log
*.csr
*.crt
*.key
lcm/coord/tmp.etcd
tmp
.venv/
