/build/
vendor/
cli/bin
lcm/bin
restapi/bin
trainer/bin
jobmonitor/bin
jobmonitor/logfiles
metrics/bin
grpc-health-checker/bin
bin/copy.sh
*.bk
.vagrant/
.DS_Store
*.log
*.csr
*.crt
*.key
lcm/coord/tmp.etcd
tmp
.venv/
.idea/
venv/
bin/dind_scripts/config.json
bin/dind_scripts/go1.10.1.linux-amd64.tar.gz
bin/dind_scripts/helm-v2.8.2-linux-amd64.tar.gz
bin/dind_scripts/linux-amd64/
FfDL.iml
