  <div class="row vertical-center">
    <div class="col-md-4"></div>
    <div class="card col-md-4">
      <div class="text-md-center">
        <p>
          <img class="card-img-top" src="/assets/img/ffdl-text.png" style="height: 200px; width: auto;" alt="FfDL Logo">
        </p>
      </div>
      <div class="card-block">
        <div *ngIf="showExpiredLogin == true" class="alert alert-danger" role="alert">
          Login timed out! Please login again to continue.
        </div>
        <h4 class="card-title">Login to your account</h4>
        <form>
          <!--<div class="form-group">-->
            <!--<div class="input-group">-->
              <!--<div class="input-group-addon"><i class="fa fa-link" aria-hidden="true"></i></div>-->
              <!--<select class="form-control" [(ngModel)]="endpoint" name="endpoint" required="true" >-->
                <!--<option selected disabled hidden>No endpoint selected</option>-->
                <!--<option *ngFor="let env of environments" value="{{env.value}}">-->
                  <!--{{env.label}}-->
                <!--</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-server" aria-hidden="true"></i></div>
              <input type="text" class="form-control" [(ngModel)]="endpoint" name="endpoint" placeholder="Endpoint">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
              <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></div>
              <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
            </div>
          </div>
        </form>
        <a class="btn btn-secondary" (click)="login()">Login</a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
