<div class="container-fluid">
  <div>
    <form method="post" enctype="multipart/form-data" [formGroup]="form" (ngSubmit)="onSubmit()">
      <table class="table ffdl_deploy_table" style="border-color:#555555">
        <tr>
          <th class="manifest-label col-md-3" style="color:#CCCCCC; border-color:#555555;" scope="row"><label for="file">Choose model definition zip to upload</label></th>
          <td class="manifest-label col-md-3" style="border-color:#555555;">
            <input style="color:#CCCCCC" type="file" id="modelzip" name="modelzip" accept=".zip" (change)="onModelzipFileChange($event)">
          </td>
          <td style="border-color:#555555">
            <button class="submit_button">Submit Training Job</button>
          </td>
        </tr>
        <tr>
          <th class="manifest-label col-md-3" style="color:#CCCCCC; border-color:#555555" scope="row"><label for="file">Choose manifest to upload</label></th>
          <td class="manifest-label col-md-3" style="border-color:#555555">
            <input style="color:#CCCCCC" type="file" id="manifest" name="manifest" accept=".yml, .yaml" (change)="onManifestFileChange($event)">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div>
    <button id="back_button" class="button" (click)="showTraining()" style="border-radius: 25px; display: none; margin: 20px">Back</button>
    <h4 id="jobs_tag" style="color:#CCCCCC;">Training Jobs</h4>
    <div *ngIf="trainingsError" class="alert alert-danger" style="color: white; background-color:#c86464" role="alert">
      An error occurred while loading the training jobs!
    </div>
    <div *ngIf="trainings?.length == 0">No records found.</div>
    <div>
      <div id="training_list" *ngIf="trainings?.length > 0 ">
        <div style="color:#CCCCCC">
          {{ trainings?.length }} records found
          <table class="table" style="table-layout: fixed;">
            <thead class="thead-default">
              <tr>
                <th style="color: #CCCCCC;background-color:#101010">ID</th>
                <th style="color: #CCCCCC;background-color:#101010">Name</th>
                <th style="color: #CCCCCC;background-color:#101010">Description</th>
                <th style="color: #CCCCCC;background-color:#101010">Status</th>
                <th style="color: #CCCCCC;background-color:#101010">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let t of trainings" style="border: 1px solid #CCCCCC">
              <tr>
                <td style="word-wrap:break-word;">{{t.model_id}}</td>
                <td style="word-wrap:break-word;">{{t.name}}</td>
                <td style="word-wrap:break-word;">{{t.description}}</td>
                <td>{{t.training.training_status.status}}
                  <span class="{{dotClass(t)}}">&#9679;</span>
                </td>
                <td>
                  <button class="btn btn-primary btn-sm" (click)="changeModel(t.model_id)"
                        tooltip="Show training details" tooltipTrigger="focus" tooltipPlacement="top">
                        <i class="fa fa-info" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-danger btn-sm" style="margin-left: 5px" (click)="delete(t.model_id)"
                        tooltip="Delete training record" tooltipTrigger="focus" tooltipPlacement="top">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="display: none; color:#CCCCCC" id="tab_manager">
        <h3>Training ID: {{current_model?.model_id}}</h3>
        <tabset>
          <tab heading="Details">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <p></p>
                  <table class="table">
                    <tbody>
                      <tr><th scope="row">Name:</th><td>{{ current_model?.name }}</td></tr>
                      <tr>
                        <th scope="row">Status:</th>
                        <td ng-init="setBlack()">{{current_model?.training.training_status.status}}
                          <span id="status_bubble" style="font-size: 12px">&#9679;</span>
                        </td>
                      </tr>
                      <tr><th scope="row">Description:</th><td>{{ current_model?.description }}</td></tr>
                      <tr>
                        <th scope="row">Framework:</th>
                        <td>{{current_model?.framework.name}}:{{current_model?.framework.version}}</td>
                      </tr>
                      <tr>
                        <th scope="row" class="align-top">Command:</th>
                        <td><code style="background-color: #1c1c1c">{{ current_model?.training.command }}</code></td>
                      </tr>
                      <tr>
                        <th scope="row" class="align-top">Resources:</th>
                        <td>{{current_model?.training.cpus || 1 }} CPUs | {{current_model?.training.gpus || 0 }} GPUs | {{current_model?.training.memory || 500 }} {{current_model?.training.memory_unit || "MiB"}} | {{current_model?.training.learners || 1 }} Node(s)</td>
                      </tr>
                      <tr>
                        <th scope="row">Submission Time:</th>
                        <td id="submission_time">{{current_model?.training.training_status.submitted || "N/A" }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Completion Time:</th>
                        <td id="completion_time">{{current_model?.training?.training_status?.completed || "N/A" }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Training data:</th>
                        <td>
                          <p><i>Storage ID</i>: <!-- {{training?.training.input_data }} !--> </p>
                    <!--<p><i>Storage container</i>: {{training }}</p>-->
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Logs">
          <div class="container-fluid" >
            <training-logs [trainingId]="trainingId"></training-logs>
          </div>
        </tab>
        <tab (select)="tabGraphActive()">
          <ng-template tabHeading>
            Evaluation Metrics (raw)
          </ng-template>
          <div class="container-fluid" >
            <training-emetrics_raw [trainingId]="trainingId"></training-emetrics_raw>
          </div>
        </tab>
        <tab (select)="tabGraphActive()">
          <ng-template tabHeading>
            Scalars
          </ng-template>
          <div class="container-fluid">
            <training-emetrics [trainingId]="trainingId"></training-emetrics>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
